# Lists
* Stores multiple items in single variable
* Defined using square brackets `[]`.
* List can contain various data types.
* Lists are mutable. - can be changed.
* First element in index starts with 0. i.e. [0].
* Lists are ordered newly added element will be placed at the end.

### Lists exercises

In [1]:
'''
To know whether list it is a list or not - type() can be used.
'''

a = ["rafting", "sailing", "surfing"]
print(type(a))

<class 'list'>

In [2]:
'''
List can contain multiple data types
'''
b = ['Python',1980,True]
print(b)
print(type(b))

['Python', 1980, True]
<class 'list'>

In [3]:
'''
List without any elements is EMPTY LIST
'''
c = []
print(type(c))

<class 'list'>

In [4]:
'''
List inside another list is known as NESTED LIST
'''
d = [9,3,0,[16,12],99]
print(type(d))
print(d[3][0]) # To call an element from nested list.

<class 'list'>
16

In [5]:
'''
len()is used to know the length of the list.
'''
e = [2,1,0,1,9,7,5,2,1,0,2,1,0,5]
print(len(e))

14

In [6]:
'''
index() - returns index of an element in the list
'''
e.index(9)

4

In [7]:
'''
append() - adds an element to the end of the list.
'''
f = ['tropical','temperate','humid','tundra']
f.append('polar')
print(f)

['tropical', 'temperate', 'humid', 'tundra', 'polar']

In [8]:
'''
extend() - adds specified list of elements to the end of the list.
'''
g = ['good','perfect','ideal']
g.extend(['superb','excellent','impeccable'])
print(g)

['good', 'perfect', 'ideal', 'superb', 'excellent', 'impeccable']

In [9]:
'''
insert() - to insert an element at specified position in a list.
Syntax: insert(position,value)
'''
h = ['a','b','c','e','f','g','h','i']
h.insert(3,'d')
print(h)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [10]:
'''
count() - gives number of times specified element appears in the list.
'''
i = [1,9,9,9,2,0,0,0,2,0,0,1]
print(i.count(0))

5

In [11]:
'''
pop() -  removes element at specified index from the list.
'''
j = [1,1,2,3,4,5,6,7,8,9]
j.pop(1)
print(j)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
'''
reverse() - reverse the elements of the list.
'''
k = ['g','f','e','d','c','b','a']
k.reverse()
print(k)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [13]:
'''
sort() - arranges list in ascending order
'''
l = [6,9,5,2,4,1,7,3,8]
l.sort()
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
'''
clear() - removes all the elements from the list.
'''
m = [1,3,5,7,9]
print(m)
m.clear()
print(m)

[1, 3, 5, 7, 9]
[]

In [15]:
'''
copy() - returns shallow copy of the list.
'''
n = l.copy()
print(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:

'''
remove() - Â removers first matching element in the list.
'''
o = [0,1,9,6,0,1,3,2]
o.remove(0)
print(o)

[1, 9, 6, 0, 1, 3, 2]